@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
  font-style: normal;
}

.bg-violet-500 {
  background-color: #8b5cf6 !important;
}

.bg-orange-400 {
  background-color: #f97316 !important;
}

.bg-cyan-400 {
  background-color: #61dafb !important;
}

.bg-green-400 {
  background-color: #4ade80 !important;
}

.bg-yellow-500 {
  background-color: #eab308 !important;
}

.bg-blue-500 {
  background-color: #3b82f6 !important;
}

.bg-black {
  background-color: #000000 !important;
}

.bg-white {
  background-color: #ffffff !important;
}

.inset-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #8b5cf6;
  background: -moz-linear-gradient(left, #8b5cf6 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #8b5cf6 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #8b5cf6 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #8b5cf6 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #8b5cf6 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #8b5cf6;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}
.loader:after {
  background: #fff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
